  <app-menubar></app-menubar>
    <div class="p-grid p-col-12 p-justify-center">
      <div class="p-col-4" style="margin-top: 35px;">
        <p-card title="Modo dificultad:" styleClass="ui-card-shadow">
          <div title="Fácil" class="option" (click)="selectDifficulty(5)">
            Fácil - 5 canciones
          </div>
          <div title="Medio" class="option" (click)="selectDifficulty(10)">
            Medio - 10 canciones
          </div>
          <div title="Difícil" class="option" (click)="selectDifficulty(15)">
            Difícil - 15 canciones
          </div>
        </p-card>
      </div>
    </div>